<!DOCTYPE html>
<html lang="en">
<head>
  


  <title>Document</title>
</head>
<body>
  <h1>{{name}}</h1>
  <h5>{{email}} | {{location}}</h5>

  <h1>Tehcnology</h1>
  <div>{{technologies}}</div>

  <h3>Work History</h3>
  <div *ngFor="let wh of workHistory">
    <span class=> {{ wh.name }}</span>
    <span> {{ wh.year }}</span>
    <p> {{ wh.jobtitle }}</p>
    <p> {{ wh.role1 }}</p>
    <p> {{ wh.role2 }}</p>

  </div>
  
  <h3>Education</h3>
  <div *ngFor="let e of education">
    <span> {{e.school}}</span>
    <span> {{e.years}}</span>
    <p> {{e.bdegree}}</p>
    <p> {{e.adegree}}</p>
  
  </div>
  
  
</body>
</html>